{% extends "learning_logs/base.html" %}

{% block page_header %}
	
	<div class="jumbotron">
		<h1 class="display-3">Learning Logs</h1>
			
			{% if user.is_authenticated %}
				<p class="lead">Make your own Learning logs, and keep a list of the
					topics you're learning about. Whenever you learn something new
					about a topic, make an entry sumarizing what you've learned
					and share what you've learned with other people you might 
					make someone's day.
					<br> <br> <img src="media/image/Learning_Log_4.jpg" style="width:1000px; border-radius:8px"/></p>
					
			{% else %}
				<p class="lead">Make your own Learning logs, and keep a list of the
					topics you're learning about. Whenever you learn something new
					about a topic, make an entry sumarizing what you've learned
					and share what you've learned with other people you might 
					make someone's day.
					<br> <br> <img src="media/image/Learning_Log_4.jpg" style="width:1000px; border-radius:8px"/></p>
					
				<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
					role="button">Register &raquo;</a>
			{% endif %}
	</div>


{% endblock page_header %}